
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>
<body>
<div id="ozd" >

</div>
<header class="header">
    Informacje o grach
</header>
<ul class="user_bar">
    <li><a href="/">Glowna</a> </li>


    <li><a href="/gra">Gry</a> </li>
    <li><a href="/wydawnictwo">Wydawnictwa gier</a> </li>
    <li><a class="rights" href="/logowanie">Logowanie</a> </li>
    <li><a class="rights" href="/admin">Admin</a> </li>

</ul>

<h1>Szczegóły gry</h1>
<p>Nazwa: <%= gra.gra %></p>
<p>Rok Wydania: <%= gra.rok_powstania %> </p>
<p>Opis: <%= gra.gra_opis %> </p>
<p> Wydawnictwo: <%= wydawnictwa %> </p>
<a href="/">Powrót do listy</a>
<form action="/gra/<%= gra.gra_id %>" method="POST" onsubmit="return confirm('Czy na pewno chcesz usunąć tę grę?')">

    <button type="submit" >Usuń</button>


</form>

<form action="/gra/updateform/<%= gra.gra_id %>" method="get" )">

    <button type="submit" >Aktualizuj</button>



</body>
</html>









