<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>
<body>
<div id="ozd" >

</div>
<header class="header">
    Informacje o grach
</header>
<ul class="user_bar">
    <li><a href="/">Glowna</a> </li>


    <li><a href="/gra">Gry</a> </li>
    <li><a href="/wydawnictwo">Wydawnictwa gier</a> </li>
    <li><a class="rights" href="/logowanie">Logowanie</a> </li>
    <li><a class="rights" href="/admin">Admin</a> </li>

</ul>

<h1>Szczegóły wydawnictwa</h1>
<p>Nazwa: <%= gra.nazwa %></p>
<p>Rok Wydania: <%=gra.rok_powstania  %> </p>
<p>Opis: <%= gra.opis %> </p>
<a href="/">Powrót do listy</a>
<form action="/wydawnictwo/<%= gra.id %>" method="POST" onsubmit="return confirm('Czy na pewno chcesz usunąć tę grę?')">

    <button type="submit" >Usuń</button>
</form>

<form action="/wydawnictwo/updateform/<%= id.id %>" method="get" )">

<button type="submit" >Aktualizuj</button>

</form>

</body>
</html>